@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100vw;
    background-color: rgb(247, 247, 247);
}

h1{
    font-size: 1.7em;
}

h2{
    font-size: 1.3em;
}

.app{
    display: flex;
    height: 100vh;
    width: 100vw;
}


/* SIDEBAR */
.sidebar{
    width: 70px;
    height: 100%;
    position:fixed;
    top:0;
    left:0;
    background-color: rgb(214, 236, 235);
    display: flex;
    flex-direction: column;
    gap:10px;
    padding:0px 5px;
    transition: 0.2s;
}

.sidebar-item{
    padding: 0.8em;  
    border-radius: 10px;
    background-color: pink;
    display: flex;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
}

.title{
    background-color:inherit;
}


.icon{
    text-align: center;
    
}

.title-icon{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.title-name{
    margin: 0;
}

.title-name, div.sidebar-item>.txt {
    display: none;
    overflow: hidden;
}

.sidebar-item_mainWallet{

}

.mainWallet-icon{

}

.mainWallet-txt{

}

.mainWallet-adjustingIcon{

}

.sidebar-item_shopee{

}

.sidebar-item.addWallet{
    display: flex;
    border: none;
    padding: auto 0;  
}

.addWalletIcon{
    font-size: 2em;
    margin: auto;
    border-radius: 10px;
    display: flex;
}

/*When sidebar is hovered*/
.sidebar:hover{
    width: 250px;
}

.sidebar:hover .title-name{
    display: block;
}

.sidebar:hover .sidebar-item>.txt{
    display: block;
}

.sidebar:hover .sidebar-item{
    justify-content: flex-start;
}

.sidebar:hover .addWallet{
    align-self: flex-start;
}

.sidebar:hover span.icon{
    margin: 0px 10px;
}

/*RIGHT APP*/
.rightApp {
}

/*HEADER*/
div.header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: antiquewhite; */
    padding-left: 100px;
    width: 100vw;
}

.header-right {
    
}

.analyst-icon {

}

.header-left {
    display: flex;
    gap: 2.3vw;
    flex-wrap: wrap;
}

.lang{
    
}

.learnMore {

}

.theme{ 

}

.notification {

}

.user{
    margin-right: 10px;
}



/*CONTENT*/

.content {
    margin-left: 255px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4vh;
}

/*TRANSACTIONS*/
.transactions {
    width: 41vmax;
    padding-right: 30px;
}

.transactions-head {
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
}

.transactions-title  {

}

.header {

}

.head-left {

}

.transactions-head-right {

}

.head-right {

}

.timeSelection {

}

.addTransactionBtn {
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    padding: 4px;
}

.addTransactionIcon {
    font-size: 2em;
    margin: auto;
    display: flex;
}

.transactions-list {

}

.transactions-item {

}

.transaction-icon {

}

.transaction-content {

}

.transaction-time {

}

.transaction-money {

}

/*ANALYST*/
.analyst {
    width: 41vmax;
}

.analyst-head {

}

.analyst-title {

}

.head-left {

}

.timeSelection {

}

.head-right {

}

.analyst-head-right {

}

.mainWallet-card {

}

.mainWallet-right {

}

.card-right {

}

.mainWallet-title {

}

.cmt {

}

.mainWallet-left {

}

.card-left {

}

.mainWallet-balance {

}

.amountMoney {

}

.cards {

}

.card {

}

.income {

}

.income-above {

}

.card-above {

}

.income-title {

}

.income-below {

}

.card-below {

}

.income-percentage {

}

.card-percentage {

}

.outcome {

}

.outcome-above {

}

.outcome-title {

}

.outcome-below {

}

.outcome-percentage {

}

.debt {

}

.debt-above {

}

.debt-title {

}

.debt-below {

}

.debt-percentage {

}

.debtCollection {

}

.debtCollection-above {

}

.debtCollection-title {

}

.debtCollection-below {

}

.debtCollection-percentage {

}
