@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.3em;
}

.overall-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(247, 247, 247);
}


/* SIDEBAR */
.sidebar {
    width: 80px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(214, 236, 235);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 8px;
    transition: 0.2s;
}

.sidebar .icon-container {
	background-color: blueviolet;
	margin: 0px 12px;
}

.sidebar .title {
    background-color: rgb(211, 45, 79);
	display: flex;
    justify-content: center;
    padding: 0.6em;
}

.sidebar .title .title-icon {
    display: flex;
    align-items: center;
    margin: 0px 12px;
}

.sidebar .title > .title-name {
    margin: 0;
    display: none;
}

.sidebar .wallet-option {
    display: flex;
    justify-content: center;
	align-items: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 12px;
    padding: 12px;
    background-color: rgb(175, 202, 143);
}

.sidebar .wallet-option .wallet-name {
    display: none;
}

.sidebar .wallet-option > .wallet-settings-icon{
    display: none;
}

/* Adding new wallet button */
.sidebar .wallet-option.addWallet {
    border: none;
    background-color: brown;
    width: fit-content;
    margin: 0 auto;
}

.sidebar .wallet-option.addWallet .addWalletIcon {
    font-size: 1.6em;
    background-color: aliceblue;
    line-height: 0.8;
}

.sidebar .wallet-option.addWallet .addWalletAction {
	font-size: 1.3em;
    background-color: rgb(189, 209, 169);
}


/*Sidebar Hovered*/
.sidebar:hover {
    width: 240px;
}

.sidebar:hover > .title > .title-name {
    display: block;
}

.sidebar:hover .title .title-icon {
    margin-left: -4px;
}

.sidebar:hover .wallet-option {
    justify-content: flex-start;
}

.sidebar:hover > .wallet-option > .wallet-name {
    display: block;
	background-color: antiquewhite;
}

.sidebar .wallet-option:hover > .icon-container.wallet-settings-icon{
    display: inline-block;
    margin-left: auto; 
    margin-right: 0px;
}

.sidebar:hover > .wallet-option > .addWallet {
    align-self: flex-start;
}

.sidebar:hover .wallet-option .icon-container {
    margin: 0px 12px;
}


/*HEADER*/
.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px;
    background-color: rgb(191, 152, 101);
    padding-left: 120px;
    height: 80px;
    /* width: 100vw; */
}

.header-right {
    
}

.analyst-icon {

}

.header-left {
    display: flex;
    gap: 2.3vw;
    flex-wrap: wrap;
}

.lang {
    
}

.learnMore {

}

.theme { 

}

.notification {

}

.user {
    margin-right: 10px;
}



/*CONTENT*/
.content {
    margin-left: 255px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4vh;
}

/*TRANSACTIONS*/
.transactions {
    width: 41vmax;
    padding-right: 30px;
}

.transactions-head {
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
}

.addTransactionBtn {
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    padding: 4px;
}

.addTransactionIcon {
    font-size: 2em;
    margin: auto;
    display: flex;
}


/*ANALYST*/
.analyst {
    width: 41vmax;
}
